/* ============== */
@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
  .header__container {
    gap: 45px;
  }
  .menu__list {
    grid-template-columns: repeat(5, auto);
    column-gap: 15px;
    row-gap: 5px;
  }
  .registration-header {
    gap: 15px;
  }
  .button {
    padding: 12px 25px;
  }
  /* ---- */
  .first__title {
    font-size: 50px;
  }
  .first__advantages {
    margin-top: 150px;
    gap: 56px;
  }
}
@media (min-width: 991px) {
  .header__container {
    display: grid;
    grid-template-columns: 130px 1fr auto 1fr;
  }
  .header__container .registration-header {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .menu__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
  .registration-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 991px) {
  .first {
    padding: 120px 0 50px 0;
  }
  .first__title {
    font-size: 36px;
  }
  .first__advantages {
    margin-top: 120px;
    gap: 26px;
  }
  .first-advantages__value {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .first__container .top__images {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .first__container {
    display: grid;
    grid-template-areas:
      "play images"
      "title images"
      "button images"
      "advantages advantages";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 90px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: 450px;
    max-width: none;
  }
  .first {
    padding: 50px 0 50px 0;
  }

  .first__video {
    font-size: 20px;
  }
  .first__advantages {
    margin-top: 40px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
  }
  .first-advantages__item {
    justify-self: center;
  }
  .first-advantages__value {
    font-size: 26px;
    justify-self: center;
  }
  .first-advantages__text {
    justify-self: center;
  }
  .first__container {
    display: grid;
    grid-template-areas:
      "play"
      "images"
      "title"
      "button"
      "advantages";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 10px;
  }
  .first__play {
    justify-self: center;
    padding-top: 40px;
  }
  .first__video {
    padding-left: 69px;
    margin-bottom: 24px;
  }
  .first__title {
    font-size: 36px;
    text-align: center;
  }
  .first-advantages__circle {
    display: none;
  }
  .first__button {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  .first__button-opacity {
    width: 100%;
  }
  .first__button-red {
    width: 100%;
    padding-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
  .header__container {
    display: grid;
    grid-template-columns: 130px 1fr auto auto;
    gap: 25px;
  }
  .header__container .registration-header {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .menu__list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    row-gap: 5px;
  }
  .registration-header {
    display: grid;

    grid-template-columns: 155px 40px;
  }
  .registration-header {
    gap: 10px;
  }
  .button {
    padding: 10px 13px;
  }
  .registration-header__registers span {
    display: none;
  }
  .registration-header__registers {
    height: 30px;
    width: 30px;
    padding-left: 0px;
    align-self: center;
  }
}
@media (min-width: 460.98px) and (max-width: 767.98px) {
  [class*="__container"] {
    max-width: 450px;
    max-width: none;
  }
  .header {
    position: static;
  }
  .header__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    gap: 35px;
  }

  .menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    font-size: 24px;
  }
  .menu__list .menu__item:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .registration-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .button {
    width: 100%;
    font-size: 24px;
  }
  .registration-header__registers {
    justify-self: center;
    font-size: 24px;
  }
  .registration-header__registers::before {
    font-weight: 700;
    line-height: 160%;
    padding-left: 28px;
    align-self: center;
    content: "";
  }
}
@media (max-width: 459.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .header {
    position: static;
  }
  .header__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    gap: 35px;
  }
  .menu__list {
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    font-size: 24px;
  }
  .registration-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .button {
    width: 100%;
    font-size: 24px;
  }
  .registration-header__registers {
    justify-self: center;
    font-size: 24px;
  }
  .registration-header__registers::before {
    font-weight: 700;
    line-height: 160%;
    padding-left: 28px;
    align-self: center;
    content: "";
  }
  .first__play {
    padding-top: 40px;
  }
  .first__video {
    font-size: 20px;
  }
  .first__advantages {
    margin-top: 40px;
    column-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .first-advantages__value {
    font-size: 26px;
    justify-self: center;
  }
  .first-advantages__text {
    font-size: 20px;
    justify-self: center;
  }
}
